.p-button {
  border-radius: 6px;
  font-weight: 500;
}

.p-button-lg {
  padding: 5px 15px;
  min-height: 40px;

  i {
    font-size: 1.8rem;
  }
}

.p-button-xl {
  padding: 10px 25px;
  text-transform: uppercase;
  min-height: 50px;

  i {
    font-size: 1.5rem;
  }
}

.server-changer {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
